#parent {
	text-align: center;
}
#calendar {
	display: inline-block;
}
td, th {
	padding: 15px;
	border: 0px solid black;
	text-align: center;
    background-color: rgb(255, 199, 199);
    /* border-radius: 50%; */
}
thead tr, thead th{
    border-radius: 0px;
    background-color: rgb(59, 8, 88);
    font-size: 35px;
    color: white;
}
#calendar .nav, #calendar .info {
	text-align: center;
}
#calendar a {
	color: rgb(59, 8, 88);
	font-size: 45px;
	text-decoration: none;
}
#calendar a:hover {
	color: red;
}
td:hover{
    background-color: rgb(240, 178, 178);
}
#calendar .active {
	color: red;
}

.info{
    font-size: 30px;
}
