#parent {
	text-align: center;
}
#calendar {
	display: inline-block;
}
td, th {
	padding: 10px;
	border: 0px solid black;
	text-align: center;
    background-color: rgb(248, 216, 227);
    border-radius: 50%;
}
thead tr, thead th{
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
#calendar .nav, #calendar .info {
	text-align: center;
}
#calendar a {
	color: blue;
	font-size: 45px;
	text-decoration: none;
}
#calendar a:hover {
	color: red;
}

#calendar .active {
	color: red;
}
